
<div class="row">
	<div class="col-md-6">
		<div class="yolo">yolo</div>
	</div>

	<div class="col-md-6">
		<div class="yolo">yolo</div>
	</div>
</div>



@section Styles{
	<link rel="Stylesheet" href="./css/Index.css" type="text/css" />
}

@section Scripts{

}