<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
	<link rel="Stylesheet" href="~/css/bootstrap.css" type="text/css" />
	<link rel="Stylesheet" href="~/css/Core.css" type="text/css" />
	@RenderSection("Styles")
	
</head>
<body class="panel-body, container-fluid">
	@RenderBody()
</body>
</html>


@RenderSection("Scripts")