<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
	<link rel="Stylesheet" href="~/css/bootstrap.css" type="text/css" />
	<link rel="Stylesheet" href="~/css/Core.css" type="text/css" />
	@RenderSection("Styles")
	
</head>
<body class="panel-body, container-fluid">
	<div class="row">
		<div class="col-md-12" id="header">
			<h1>From _layout</h1>
		</div>
	</div>
	@RenderBody()
</body>
</html>


@RenderSection("Scripts")